= render "static_pages/nav"
.full-width
  .row.container--large
    .small-12.columns
      %h1.alpha 
        %strong
          Event Name
      %h4 Short description of the event. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
.row.container
  .large-4.columns.show-for-large-up 
    /Wishlist Module        
    .panel.panel--no-padding.clearfix
      .module--header.clearfix.border-bottom--orange
        .small-12.medium-8.large-10.small-centered.columns
          %br/
          .center
            %a.button.small.radius{href: "#", style: "width: 146px"}Register Now
            %a.button.small.radius{href: "#"}Add to Wishlist

      /Single wishlist listing
      %a{href: "#"}
        .listing.listing--medium.clearfix
          = image_tag "User-default-post.png", :width => "30", :class => "left"
          %h5.left.padding-left--medium Username
      /Everything below in Wishlist module can be deleted for example purposes only which includes lines 23-38
      %a{href: "#"}
        .listing.listing--medium.clearfix
          = image_tag "User-default-post.png", :width => "30", :class => "left"
          %h5.left.padding-left--medium Username
      %a{href: "#"}
        .listing.listing--medium.clearfix
          = image_tag "User-default-post.png", :width => "30", :class => "left"
          %h5.left.padding-left--medium Username
      %a{href: "#"}
        .listing.listing--medium.clearfix
          = image_tag "User-default-post.png", :width => "30", :class => "left"
          %h5.left.padding-left--medium Username
      %a{href: "#"}
        .listing.listing--medium.clearfix
          = image_tag "User-default-post.png", :width => "30", :class => "left"
          %h5.left.padding-left--medium Username

  /Event Single Description
  .large-8.columns
    .row.collapse
      .panel.panel--no-padding
        /Event Date
        .listing.listing--large
          .row
            .small-2.medium-2.large-1.columns
              %h3.date.right.padding-left.no-padding-bottom
                %i.fa.fa-calendar-o.center.fa-gray
            .large-11.small-10.columns.padding-left--medium
              %h3.no-margin-bottom
                %strong.no-padding-bottom Friday Night Lights
        /Event Location
        .listing.listing--large
          .row
            .small-2.medium-2.large-1.columns
              %h3.date.right.padding-left.no-padding-bottom
                .center
                  %i.fa.fa-map-marker.center.fa-gray

            .large-11.small-10.columns.padding-left
              %a.block{href: "#", style: "padding-left:0px"}
                %h3
                  %strong Revolution Park
                .meta-light.meta--no-uppercase
                  123 Event Address
                  %br/
                  City, ST 00000
        /Event description
        .listing.listing--large
          .listing.listing--large
            %h4
              %strong Why?
            %p The Level Exposure Combine is different. Our goal is to take athletes from their current Level to the next Level up. From educating, to testing, to coaching, each camp is built for the athlete to take the next step. 
            %br/
            %p Athletes Have Received Offers From:
            %ul
              %li 
                %p Florida State
              %li 
                %p Miss St.
              %li 
                %p NC State
              %li 
                %p Syracuse
              %li 
                %p Texas Tech
              %li 
                %p Duke
            %br/
            %h4
              %strong What you'll do
            %p Athletes will be tested on the 5 most common combine tests: 40, pro shuttle, vertical jump, broad jump, and med ball toss. Following the testing period, athletes will receive position coaching from the staff and then compete in 1 on 1s. The camp will also include and parents' recruiting Q & A session.
            %br/
            %br/
            %strong Description
            %br/
            %p You will be given a score based on your performance to see where you rank amongst athletes across the country! If you already have a score from other camps, you will be able to use this score to see how much you have improved. 
            %br/
            %br/
            %p Your measurements / results will be sent to EVERY NCAA school. Athletes will have the opportunity to learn from our staff whose experience includes NFL/D1/D2/D3. You will also get a free profile on Level.my, earn points, learn the process from recruiting experts and receive an analysis of where you are now and where you need to be.




        




    